PINECONE_API_KEY="83c5e56e-aaa2-4d6d-ac69-ca04e632d8c3"
PINECONE_ASSISTANT_NAME="jyotchat"
PINECONE_ASSISTANT_URL="https://prod-1-data.ke.pinecone.io/assistant/chat"
SHOW_ASSISTANT_FILES="false"
SHOW_CITATIONS="true"